/* Ini CSS utama gais */

/* Font */
body {
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-weight: 700px;
}

.btn-primary {
    font-size: 18px;
    border-radius: 25px;
    padding: 5px 15px;
    border: 1px solid #9B5951;
    background-color: #CD8C82;
}

.btn-secondary {
    font-size: 18px;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: #844640;
}

/* navbar */
.navbar {
    background-color: #FFFFFF;
    padding: 15px;
    margin: auto;
}

.navbar li {
    font-size: 18px;
    padding: 15px;
}

.navbar .d-flex a {
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 35px;
}

.navbar .d-flex .masuk {
    background-color: #FFFFFF;
    color: #B16E65;
    border: 1px solid #B16E65;
}

.navbar .d-flex .daftar {
    background-color: #B16E65;
    color: #FFFFFF;
    border: 1px solid #B16E65;
}

/* dashboard */
.story {
    font-weight: 600;
    font-size: 16px;
    color: #B16E65;
}

/* checkout */
.pay{
    background-color: #B16E65;
    width: 30%;
    border: 0;
    padding: 10px;
    align-items: end;
}

.pay:hover {
    background-color: white;
    color: #B16E65;

    border: 2px solid #B16E65;
}

.checkout {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
.checkout .item-bootcamp .cover {
    height: 255px;
    margin-bottom: 30px;
  }
  
.checkout .item-bootcamp .package {
    font-size: 22px;
    color: #B16E65;
    font-weight: 600;
  }
  
.checkout .item-bootcamp .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

/* user login */
.login-user {
    align-content: center;
}
.login-user .right {
    width: 50%;
    float: left;
    padding: 120px;
  }

  .login-user .right h1 {
    font-weight: 600;
  }
  
  .login-user .right .people {
    margin-top: 100px;
    height: 170px;
  }
  
  .login-user .right .logo {
    height: 70px;
    margin-bottom: 80px;
  }
  
  .login-user .right .btn-border {
    border: 1px solid #E7E5F4;
    border-radius: 50px;
    padding: 12px 80px 12px 80px;
  }
  
  .login-user .right .btn-google-login {
    margin-top: 40px;
  }
  
  .login-user .right .btn-google-login .icon {
    margin-right: 8px;
  }
  
  .login-user .left {
    background-color: #B16E65;
    width: 50%;
    min-height: 500px;
    text-align: center;
    float: left;
  }
  
  .login-user .left img {
    margin-top: 100px;
    height: 540px;
  }

  .header-third {
    font-size: 24px;
    color: #B16E65;
    font-weight: 500;
  }
  
  .subheader {
    font-size: 16px;
    font-weight: 400;
    color: #5B5575;
  }

  .balik {
    font-size: 12px;
    color: #B16E65;
  }

  /* main pages */
/* section 1 */
.background {
    background-color: #B16E65;
    color: #ECEAE7;
}

.background .head .konten {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12rem;
    padding: 3rem;
}

.background .head .konten .title {
    flex: 1 1 40 rem;
}

button {
    background-color: #ECEAE7;
    border: 0px;
    border-radius: 20px;
    padding: 2px 30px;
    font-size: 20px;
    font-weight: 500;
    color: #B16E65;
}

.background .head .konten .pict1 {
    flex: 1 1 40 rem;
}

.background .head .konten .pict1 img{
    width: 100%;
}

/* background2 */
.background2 .head .konten {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12rem;
    padding: 3rem;
}

.background2 .head .konten .title {
    flex: 1 1 40 rem;
}

.background2 .head .konten .title h1{
    color: #B16E65;
}

.background2 .head .konten .pict1 {
    flex: 1 1 40 rem;
}

.background2 .head .konten .pict1 img{
    width: 100%;
}

.background2 .head .konten .title .rekom p{
    font-size: 22px;
    border: 3px solid #B16E65;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 35px;
    text-align: left;
}

/* section 3 */
.part2 {
    margin: auto;
    text-align: center;
    padding-top: 3rem;
}

.judul h3 {
    color: #844640;
}

.judul h2 {
    font-weight: 550;
}

.kategori {
    font-size: medium;
    margin-bottom: 105px;
}

.pict2 {
    border-radius: 10px;
    width: 70%;
}

.kat h5 {
    margin-top: 20px;
    font-weight: 400;
}

/* section 4 */

.four {
    background-color: #ECEAE7;
    padding: 25px 0;
}

.visit h3 {
    color: #B16E65;
}

.card {
    margin: 15px;
    padding: 10px;
    border: none;
}
.card .place img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    border: 5px solid #B16E65;
}
.detail h5 {
    color: #B16E65;
    padding: 3px;
}

.detail a {
    float: left;
    color: #ECEAE7;
    font-size: 16px;
    text-decoration: none ;
    background-color: #B16E65;
    padding: 0px 8px;
    border-radius: 20px;
}

.detail-text p{
    float: right;
}

.tulisan {
    padding-right: 6px;
}